.portfolio-item img {
    height: 12rem;
    width: 100%;
}

.link {
    color: whitesmoke;
    font-weight: 700;
    margin: 1rem 0;
}

#contact {
    color: #002f5e;
    text-align: center;
}
#contact input, #contact h4 {
    text-align: left;
}

.my-label {
    margin: 0 1px;
}

.section-heading:hover {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    transform: scale(1.1);
}